/Compilador/nbproject/private/
/Compilador/build/
/Compilador/build
/compilador2/COMPILER/nbproject/private/
/compilador2/COMPILER/build/
/compilador2/COMPILER1/nbproject/private/
/compilador2/COMPILER1/build/
/Compilador2/nbproject/private/
/Compilador2/build/